In [15]:
import sqlite3
con = sqlite3.connect('week3.sqlite', isolation_level=None)
cur = con.cursor()

In [16]:
cur.execute("""DROP TABLE IF EXISTS movies""")

# Take

In [17]:
q = """
CREATE TABLE IF NOT EXISTS movies (
    id INTEGER PRIMARY KEY,
    title TEXT,
    year INTEGER,
    rating FLOAT,
    is_watched BOOLEAN DEFAULT 0,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    updated_at DATETIME DEFAULT CURRENT_TIMESTAMP
)
"""
cur.execute(q)

In [18]:
# Check if the table is created

q = """
SELECT
    name
FROM
    sqlite_master
"""

res = cur.execute(q)

In [19]:
# Fetch the first row
res.fetchone()

# Fetch all
#res.fetchall()

('movies',)

In [20]:
q = """
SELECT
    *
FROM
    movies
"""

res = cur.execute(q)
res.fetchall()

[]

In [22]:
q = """
INSERT INTO movies(
    title,
    year,
    rating
) VALUES (
    'The Matrix', 
    1999, 
    5.0
)
"""

cur.execute(q)

In [23]:
q = """
INSERT INTO 
    movies(
        title,
        year,
        rating
    ) VALUES (?,?,?)
"""

cur.execute(
    q,
    ['The Matirx_NEW', 1998, 10.0]
)

In [ ]:
[x for x in cur.execute("""sele""")]

# cursor can go down one by one

In [27]:
res = cur.execute("""SELECT * FROM movies""")
#res.fetchall()
# fetchall: get all the table in your Python memory as a list

# Cursor for loop method
for row in res:
    print(row)
# Can iterate the data line by line with cursor, load one line at a time

(1, 'The Matrix', 1999, 5.0, 0, '2024-01-23 23:25:14', '2024-01-23 23:25:14')
(2, 'The Matrix', 1999, 5.0, 0, '2024-01-23 23:26:58', '2024-01-23 23:26:58')
(3, 'The Matirx_NEW', 1998, 10.0, 0, '2024-01-23 23:32:18', '2024-01-23 23:32:18')

In [ ]:
# Insert lots of data

q = """
INSERT INTO movies(
    title,
    year,
    rating
) VALUES (
    ?, 
    ?, 
    ?
)
"""


data = [
    ['The', 199, 5.0],
]

cur.execute(q)

In [31]:
# Insert bulk of data in smarter way

data = [
    ('January', 1999, 1.0),
    ('Feb', 2000, 1.0),
    ('Mar', 2001, 1.0)
]

cur.executemany(
    "INSERT INTO movies(title, year, rating) VALUES(?,?,?)",
    data
)

In [30]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
data = [
    {'name': "Concert"},
    {'name': "Beer"},
    {'name': "Ian"},
    {'name': "Flower"},

]